.table .task-list .student-list {
  overflow: scroll;
}
.student-list {
  max-height: 900px;
}
table {
  table-layout: fixed;
  word-wrap: break-word;
}
.column {
  height: 300px;
  margin: 10px;
}
.custom-popover {
  --bs-popover-max-width: 300px;
}
